@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
	<link href="~/css/home_1.css" rel="stylesheet">
}

@section Scripts {
	<script src="~/js/carousel-home.js"></script>
}

<main>
	<div id="carousel-home">
		<div class="owl-carousel owl-theme">
			<div class="owl-slide cover" style="background-image: url(img/slides/slide_home_2.jpg);">
				<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
					<div class="container">
						<div class="row justify-content-center justify-content-md-end">
							<div class="col-lg-6 static">
								<div class="slide-text text-end white">
									<h2 class="owl-slide-animated owl-slide-title">Attack Air<br>Max 720 Sage Low</h2>
									<p class="owl-slide-animated owl-slide-subtitle">
										Limited items available at this price
									</p>
									<div class="owl-slide-animated owl-slide-cta"><a class="btn_1" href="listing-grid-1-full.html" role="button">Shop Now</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/owl-slide-->
			<div class="owl-slide cover" style="background-image: url(img/slides/slide_home_1.jpg);">
				<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
					<div class="container">
						<div class="row justify-content-center justify-content-md-start">
							<div class="col-lg-6 static">
								<div class="slide-text white">
									<h2 class="owl-slide-animated owl-slide-title">Attack Air<br>VaporMax Flyknit 3</h2>
									<p class="owl-slide-animated owl-slide-subtitle">
										Limited items available at this price
									</p>
									<div class="owl-slide-animated owl-slide-cta"><a class="btn_1" href="listing-grid-1-full.html" role="button">Shop Now</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/owl-slide-->
			<div class="owl-slide cover" style="background-image: url(img/slides/slide_home_3.jpg);">
				<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(255, 255, 255, 0.5)">
					<div class="container">
						<div class="row justify-content-center justify-content-md-start">
							<div class="col-lg-12 static">
								<div class="slide-text text-center black">
									<h2 class="owl-slide-animated owl-slide-title">Attack Air<br>Monarch IV SE</h2>
									<p class="owl-slide-animated owl-slide-subtitle">
										Lightweight cushioning and durable support with a Phylon midsole
									</p>
									<div class="owl-slide-animated owl-slide-cta"><a class="btn_1" href="listing-grid-1-full.html" role="button">Shop Now</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/owl-slide-->
			</div>
		</div>
		<div id="icon_drag_mobile"></div>
	</div>
	<!--/carousel-->

	<ul id="banners_grid" class="clearfix">
		<li>
			<a href="#0" class="img_container">
				<img src="img/banners_cat_placeholder.jpg" data-src="img/banner_1.jpg" alt="" class="lazy">
				<div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
					<h3>Men's Collection</h3>
					<div><span class="btn_1">Shop Now</span></div>
				</div>
			</a>
		</li>
		<li>
			<a href="#0" class="img_container">
				<img src="img/banners_cat_placeholder.jpg" data-src="img/banner_2.jpg" alt="" class="lazy">
				<div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
					<h3>Womens's Collection</h3>
					<div><span class="btn_1">Shop Now</span></div>
				</div>
			</a>
		</li>
		<li>
			<a href="#0" class="img_container">
				<img src="img/banners_cat_placeholder.jpg" data-src="img/banner_3.jpg" alt="" class="lazy">
				<div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
					<h3>Kids's Collection</h3>
					<div><span class="btn_1">Shop Now</span></div>
				</div>
			</a>
		</li>
	</ul>
	<!--/banners_grid -->

	<div class="container margin_60_35">
		<div class="main_title">
			<h2>Featured</h2>
			<span>Products</span>
			<p>Cum doctus civibus efficiantur in imperdiet deterruisset</p>
		</div>
		<div class="owl-carousel owl-theme products_carousel">
			@foreach(var p in ViewBag.Featured)
			{
				<div class="item">
					@await Component.InvokeAsync("ShoeCards", p)
				</div>
			}
		</div>
		<!-- /products_carousel -->
	</div>
	
	<!-- /container -->

	<div class="featured lazy" data-bg="url(img/featured_home.jpg)">
		<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
			<div class="container margin_60">
				<div class="row justify-content-center justify-content-md-start">
					<div class="col-lg-6 wow" data-wow-offset="150">
						<h3>Armor<br>Air Color 720</h3>
						<p>Lightweight cushioning and durable support with a Phylon midsole</p>
						<div class="feat_text_block">
							<div class="price_box">
								<span class="new_price">$90.00</span>
								<span class="old_price">$170.00</span>
							</div>
							<a class="btn_1" href="listing-grid-1-full.html" role="button">Shop Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /featured -->

	<div class="container margin_60_35">
		<div class="main_title">
			<h2>New Product</h2>
			<span>Products</span>
			<p>Cum doctus civibus efficiantur in imperdiet deterruisset</p>
		</div>
		<div class="row small-gutters">
			@foreach(var p in ViewBag.NewProduct)
			{
				<div class="col-6 col-md-4 col-xl-3">
					@await Component.InvokeAsync("ShoeCards", p)
				</div>
			}
		</div>
		<!-- /row -->
	</div>
	
	<!-- /container -->

	<div class="bg_gray">
		<div class="container margin_30">
			<div id="brands" class="owl-carousel owl-theme">
				<div class="item">
					<a href="#0"><img src="img/brands/placeholder_brands.png" data-src="img/brands/logo_1.png" alt="" class="owl-lazy"></a>
				</div><!-- /item -->
				<div class="item">
					<a href="#0"><img src="img/brands/placeholder_brands.png" data-src="img/brands/logo_2.png" alt="" class="owl-lazy"></a>
				</div><!-- /item -->
				<div class="item">
					<a href="#0"><img src="img/brands/placeholder_brands.png" data-src="img/brands/logo_3.png" alt="" class="owl-lazy"></a>
				</div><!-- /item -->
				<div class="item">
					<a href="#0"><img src="img/brands/placeholder_brands.png" data-src="img/brands/logo_4.png" alt="" class="owl-lazy"></a>
				</div><!-- /item -->
				<div class="item">
					<a href="#0"><img src="img/brands/placeholder_brands.png" data-src="img/brands/logo_5.png" alt="" class="owl-lazy"></a>
				</div><!-- /item -->
				<div class="item">
					<a href="#0"><img src="img/brands/placeholder_brands.png" data-src="img/brands/logo_6.png" alt="" class="owl-lazy"></a>
				</div><!-- /item -->
			</div><!-- /carousel -->
		</div><!-- /container -->
	</div>
	<!-- /bg_gray -->

	<div class="container margin_60_35">
		<div class="main_title">
			<h2>Latest news</h2>
			<span>Blog</span>
			<p>Exploring the Wonders of Fashion: Insights, Tips, and Inspiration</p>
		</div>
		<div class="row">
			@foreach(var item in ViewBag.SuggestPost)
			{
				<div class="col-lg-6">
					<a class="box_news" href="/blogs/@item.Slug">
						<figure>
							<img src="~/img/blogs/@item.Thumbnail.Name" alt="" width="400" height="266" class="lazy">
							<figcaption><strong>@item.CreatedAt.ToString("dd")</strong>@item.CreatedAt.ToString("MMM")</figcaption>
						</figure>
						<ul>
							<li>By @item.User.FullName</li>
							<li>@item.CreatedAt.ToString("dd/MM/yyyy")</li>
						</ul>
						<h4>@item.Name</h4>
						<p >@item.Description</p>
					</a>
				</div>

			}
			<!-- /box_news -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</main>

