@model IEnumerable<ShoeShop.Models.Contact>
@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section Styles {
    <link rel="stylesheet" href="~/admin/js/plugins/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="~/admin/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="~/admin/js/plugins/flatpickr/flatpickr.min.css">
}

<!-- Hero -->
<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">Contacts</h1>
            <nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-alt">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0)">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Contacts</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- END Hero -->
<div class="content">
    <div class="block block-rounded">
        <div class="block-header block-header-default">
            <h3 class="block-title">List Contacts</h3>
        </div>
        <div class="block-content">
            <div class="row mb-3">
                <form asp-controller="Contacts" asp-action="Index">

                <div class="input-group">
                    <input type="text" class="form-control form-control-alt" id="searchInput" name="searchInput" placeholder="TÌm kiếm...">
                    <button type="submit" class="input-group-text bg-body border-0 btn-search" value="Search">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-vcenter">
                    <thead>
                        <tr class="bg-body-dark">
                            <th class="d-none d-sm-table-cell text-center" style="width: 40px;">#</th>
                            <th class="d-none d-sm-table-cell">Name</th>
                            <th class="d-none d-sm-table-cell">Email</th>
                            <th class="d-none d-sm-table-cell">Message</th>
                            <th class="d-none d-sm-table-cell">Send time</th>
                            <th class="text-center" style="width: 80px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(int i = Model.Count()-1; i>=0;i--){
                            var item = Model.ElementAt(i);
                            if (item.IsDeleted == false)
                            {
                            <tr>
                                <th>
                                        @if(item.IsSeen == false)
                                        {
                                            <a >
                                                <i class="fa fa-bell"></i>
                                            </a>
                                        }
                                    </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Message)
                                </th>
                                <th>
                                     @Html.DisplayFor(modelItem => item.CreatedAt)
                                </th>
                                
                                <th class="text-center">
                                        <div class="btn-group">
                                            <a asp-route-id="@item.Id" asp-action="Details" class="btn btn-sm btn-alt-secondary js-bs-tooltip-enabled" data-bs-toggle="tooltip">
                                                <i class="fa  fa-eye"></i>
                                    </a>
                                    <button data-id="@item.Id" type="button" class="btn btn-sm btn-alt-secondary js-bs-tooltip-enabled btn-delete" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete">
                                    <i class="fa fa-times"></i>
                                    </button>
                                    </div>
                                </th>
                            </tr>
                        }
                        }
                    </tbody>
                </table>
                <nav class="pagination-container">
                    
                </nav>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script src="~/admin/js/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/admin/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/admin/js/plugins/flatpickr/flatpickr.min.js"></script>
    <script src="~/admin/js/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/admin/js/plugins/jquery-validation/additional-methods.js"></script>
    <script src="~/admin/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script>Dashmix.helpersOnLoad(['js-flatpickr', 'jq-datepicker', 'jq-notify']);</script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/admin/js/pagination.js"></script>
    <script src="~/admin/js/customer.js"></script>
    <script src="~/admin/js/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script>
        $(document).on("click", ".btn-delete", async function () {
            let trid = $(this).data("id");
            let result = await Swal.fire({
                title: "Are you sure?",
                text: "Would you like to delete this contact?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, I'm sure",
                cancelButtonText: "Cannel"
            });

            if (result.value) {
                try {
                    let response = await $.post(`./Contacts/Delete/${trid}`);
                    Swal.fire("Deleted!", "Successfully deleted the contact.", "success");
                    $(this).closest('tr').remove();
                } catch (error) {
                    console.error("Error:", error);
                    Swal.fire("Lỗi !", "Deletion of the contact was not successful.", "error");
                }
            }
        });
    </script>
}

