@{
    ViewData["Title"] = "Add Product";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/admin/js/plugins/select2/css/select2.min.css">
}

@section Scripts {
    <script src="~/admin/js/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/admin/js/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/admin/js/upload-image.js"></script>

    <!-- Page JS Helpers (Select2 + Bootstrap Maxlength + CKEditor plugins) -->
    <script>Dashmix.helpersOnLoad(['jq-select2', 'js-ckeditor']);</script>
}

<!-- Page Content -->
<div class="content">
    <div class="row">
        <div class="col-8">
            <!-- Info -->
            <div class="block block-rounded">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Add product</h3>
                </div>
                <div class="block-content">
                    <form action="be_pages_ecom_product_edit.html" method="POST" onsubmit="return false;">
                        <div class="mb-4">
                            <label class="form-label" for="dm-ecom-product-name">Name</label>
                            <input type="text" class="form-control" id="dm-ecom-product-name" name="dm-ecom-product-name">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Description</label>
                            <textarea id="js-ckeditor" name="dm-ecom-product-description"></textarea>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <label class="form-label" for="dm-ecom-product-price">Price in USD ($)</label>
                                <input type="text" class="form-control" id="dm-ecom-product-price" name="dm-ecom-product-price" value="59,00">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END Info -->
            <!-- Variant -->
            <div class="block block-rounded">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Variant</h3>
                    <div class="block-options">
                        <button type="button" class="btn btn-alt-primary btn-sm btn-hero" ><i class="fa-regular fa-plus"></i> Add</button>
                    </div>
                </div>
                <div class="block-content block-content-full">
                    <form action="be_forms_plugins.html" method="POST" onsubmit="return false;">
                        <div class="mb-4">
                            <label class="form-label" for="color-id">Color</label>
                            <select class="js-select2 form-select" id="color-id" name="color-id" style="width: 100%;" data-placeholder="Choose one..">
                                <option></option>
                                @foreach (var color in ViewBag.Colors)
                                {
                                    <option value="@color.Id">@color.Name</option>
                                }
                            </select>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="size-id">Size</label>
                            <select class="js-select2 form-select" id="size-id" name="size-id" style="width: 100%;" data-placeholder="Choose many.." disabled multiple>
                                <option></option>
                                <option value="1" >HTML</option>
                                <option value="2" >CSS</option>
                                <option value="3">JavaScript</option>
                                <option value="4">PHP</option>
                                <option value="5">MySQL</option>
                                <option value="6">Ruby</option>
                                <option value="7">Angular</option>
                                <option value="8">React</option>
                                <option value="9">Vue.js</option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <div class="upload-image-container">
                                <input type="file" name="upload-image" class="upload-image-input" hidden multiple />
                                <div class="no-image">
                                    <p>Select files to upload</p>
                                </div>
                                <div class="has-image">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END Variant-->
        </div>
        <div class="col-4">
            <!-- Meta Data -->
            <div class="block block-rounded">
                <div class="block-content">
                    <form action="be_pages_ecom_product_edit.html" method="POST" onsubmit="return false;">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <label class="form-label">Active</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" value="" id="dm-ecom-product-published" name="dm-ecom-product-published">
                                <label class="form-check-label" for="dm-ecom-product-published"></label>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="dm-ecom-product-name">Slug</label>
                            <input type="text" class="form-control" id="dm-ecom-product-slug" name="dm-ecom-product-slug">
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="brand-id">Brand</label>
                            <select class="js-select2 form-select" id="brand-id" name="brand-id" style="width: 100%;" data-placeholder="Choose brand..">
                                <option></option>
                                @foreach (var brand in ViewBag.Brands)
                                {
                                    <option value="@brand.Id">@brand.Name</option>
                                }
                            </select>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="category-id">Category</label>
                            <select class="js-select2 form-select" id="category-id" name="category-id" style="width: 100%;" data-placeholder="Choose category..">
                                <option></option>
                                @foreach (var brand in ViewBag.Categories)
                                {
                                    <option value="@brand.Id">@brand.Name</option>
                                }
                            </select>
                        </div>
                        <div class="mb-4">
                            <button type="submit" class="btn btn-primary btn-hero">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END Meta Data -->
            
        </div>
    </div>
    
</div>
<!-- END Page Content -->