@{
	var blog = ViewBag.Blog;
	ViewData["Title"] = blog.Name;
	var time = new DateOnly
}
@section Styles {
	<link href="~/css/blog.css" rel="stylesheet">
}

<main class="bg_gray">
	<div class="container margin_30">
		<div class="page_header">
			<div class="breadcrumbs">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Category</a></li>
					<li>Page active</li>
				</ul>
			</div>
		</div>
		<!-- /page_header -->
		<div class="row">
			<div class="col-lg-9">
				<div class="singlepost">
					<figure><img alt="" style="width:90px;height:500px" class="img-fluid" src="~/img/@blog.Thumbnail.Name"></figure>
					<h1>@blog.Name/h1>
					<div class="postmeta">
						<ul>
							<li><a href="#"><i class="ti-folder"></i> @blog.Topic.Name</a></li>
							<li><i class="ti-calendar"></i></li>
							<li><a href="#"><i class="ti-user"></i> @blog.User.FullName</a></li>
						</ul>
					</div>
					<!-- /post meta -->
					<div class="post-content">
						<p style="text-transform:uppercase">@blog.Slug</p>
						<p>@blog.Content</p>
					</div>
					<!-- /post -->
				</div>
				<!-- /single-post -->

				<hr>

			<!-- /col -->

			<aside class="col-lg-3">
				<div class="widget search_blog">
					<div class="form-group">
						<input type="text" name="search" id="search" class="form-control" placeholder="Search..">
						<button type="submit"><i class="ti-search"></i></button>
					</div>
				</div>
				<!-- /widget -->
				<div class="widget">
				// 	<div class="widget-title">
				// 		<h4>Latest Post</h4>
				// 	</div>
				// 	<ul class="comments-list">
						
				// 	</ul>
				// </div>
				// <!-- /widget -->
				// <div class="widget">
				// 	<div class="widget-title">
				// 		<h4>Categories</h4>
				// 	</div>
				// 	<ul class="cats">
				// 		<li><a href="#">Food <span>(12)</span></a></li>
				// 		<li><a href="#">Places to visit <span>(21)</span></a></li>
				// 		<li><a href="#">New Places <span>(44)</span></a></li>
				// 		<li><a href="#">Suggestions and guides <span>(31)</span></a></li>
				// 	</ul>
				// </div>
				<!-- /widget -->
				<!-- /widget -->
			</aside>
			<!-- /aside -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</main>