@{
	var blog = ViewBag.Blog;
	ViewData["Title"] = blog.Name;
}

@section Styles {
	<link href="~/css/blog.css" rel="stylesheet">
}

<main class="bg_gray">
	<div class="container margin_30">
		<div class="page_header">
			<div class="breadcrumbs">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Category</a></li>
					<li>Page active</li>
				</ul>
			</div>
		</div>
		<!-- /page_header -->
		<div class="row">
			<div class="col-lg-9">
				<div class="singlepost">
					<figure style="text-align:center"><img alt="" class="img-fluid" src="~/img/blogs/@blog.Thumbnail.Name"></figure>
					<h1>@blog.Name</h1>
					<div class="postmeta">
						<ul>
							<li><a href="#"><i class="ti-folder"></i> @blog.Topic.Name</a></li>
							<li><i class="ti-calendar"></i> @blog.CreatedAt</li>
							<li><a href="#"><i class="ti-user"></i> @blog.User.FullName</a></li>
						</ul>
					</div>
					<!-- /post meta -->
					<div class="post-content">
						@Html.Raw(blog.Content)
					</div>
					<!-- /post -->
				</div>
				<!-- /single-post -->
			</div>
			<!-- /col -->

			<aside class="col-lg-3">
				<div class="widget search_blog">
					<div class="form-group">
						<input type="text" name="search" id="search" class="form-control" placeholder="Search..">
						<button type="submit"><i class="ti-search"></i></button>
					</div>
				</div>
				<!-- /widget -->
			</aside>
			<!-- /aside -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</main>