@model IEnumerable<ShoeShop.Models.Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th> 
                Tiêu đề
            </th>
            <th>
                Tác giả
            </th>
            <th>
                Thời gian tạo
            </th>
            <th>
                Chủ đề
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.Content)
            </th> *@

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

                <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>
                    <div class="d-flex gap-2 align-items-center">
                        <img class="rounded" style="width: 40px; height: 40px" src="~/img/products/@Html.DisplayFor(modelItem => item.Thumbnail.Name)" />
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
